# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
coverage/

# Flutter platform outputs
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/
ios/Pods/
ios/.symlinks/
macos/Flutter/
linux/flutter/
windows/flutter/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
